body {
  max-width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
}

h1 {
  text-align: center;
  cursor: pointer;
}

#container{
  width: 70%;
  margin-inline: auto;
  text-align: center;
} 

.bordered {
  border: solid 1px black;
}

.ordered-list {
  display: inline-block;
  text-align: left;
}

.table {
  display: inline-block;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.font-size-and-weight-changer {
  font-size: large;
  font-weight: 700;
}

.hide {
  visibility: hidden;
}

.photo-including-div {
  width: 150px;
  display: flex;
  justify-content: center;  
  align-items: center;
  height: 100px;
  overflow: hidden;
  border-radius: 5px;
}

td img {
  width: 100%;   
}


td {
  width: 150px;
  height: 100px;
  text-align: center;
  border: solid 3px rgb(38, 99, 0);
  border-radius: 10px;
  padding: 0;
}
  
.pink-border {
  border: solid 3px pink;
}

.red-background-color {
  background-color: red;
}

.new-table-area {
  text-align: center;
}

table {
  margin-inline: auto;
  margin-bottom: 50px;
}